#eder {
  background-color: #FAEBD7;
  text-align: center;
  width: 600px;
  float: center;
  margin: auto;

}

#infos {
  background-color: #FAEBD7;
  text-align: center;
  width: 600px;
  float: center;
  margin: auto;

}
